
.pg_row, .add_row, .custom_row, .rectangle_row, .T-beam_row .rebar_row {
    padding-bottom: 4px;
    padding-top: 4px
}

.glyphicon-triangle-bottom, .glyphicon-triangle-top {
    cursor: pointer;
}

#pg_svg {
    padding-bottom: 20px;
}

.strain_svg, .rebar_strain_svg_div {
    padding: 80px 20px 20px 20px;
}

.geometry_column {
    padding-left: 10px;
    padding-right: 5px;
}

.add_row, #add_rbr_diagram, .add_row_rbr_curves {
    float: right;
}

.cstm_block {
    padding-bottom: 20px;
    padding-top: 20px;
   
}

.label_input {
    padding-left: 10px;
}

.strain_diagram {
    padding-left: 45px;
}

